﻿@model BachelorDegreeThesis.ViewModels.BachelorDegreeViewModel

<div>
    <h2 class="text-center">Lista prac:</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Tytuł</th>
                <th>ID obrazka</th>
                <th>Obrazek</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var thesis in Model.ThesisList)
            {
                <tr>
                    <td>@thesis.Imie</td>
                    <td>@thesis.Nazwisko</td>
                    <td>@thesis.Tytul</td>
                    <td>@thesis.IDObrazka</td>
                    <td><img src="data:image;base64,@Model.Base64Imgs[thesis.IDObrazka]" height="100" /></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <h2 class="text-center">Lista zasad:</h2>
    @foreach (var zasada in Model.GuidelineList)
    {
        <ul>
            <li>@zasada.Guideline</li>
        </ul>
    }
</div>

<div class="container w-75">
    <h2 class="text-center">Formularz:</h2>
    <form method="post">
        @if (ViewBag.Message != null)
        {
            <br />
            <div class="alert alert-primary">@ViewBag.Message</div>
            <br />
        }
        <div class="form-group">
            <label for="title">Imię</label>
            <input type="text" class="form-control" name="name" id="name">
        </div>
        <div class="form-group">
            <label for="title">Nazwisko</label>
            <input type="text" class="form-control" name="lastName" id="lastName">
        </div>
        <div class="form-group">
            <label for="title">Tytuł</label>
            <input type="text" class="form-control" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="img">Adres obrazka</label>
            <input type="text" class="form-control" name="img" id="img">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Zapisz</button>
        </div>
    </form>
</div>
